.banner-container
{
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    padding: 0;
    text-align: center;
}

.banner-container img
{
    width: 100%;
    padding: 0;
    margin: 0;
}

.container
{
    /*background-color: black;*/
    width: 100%;
    text-align: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.menu-container
{
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.menu-container ul
{  
    margin: 0;
    padding: 0;
}

.menu-container ul li
{
    display: inline-block;
    list-style-type: none;
    padding: 20px;
}

.menu-container ul li a
{
    text-decoration: none;
    color: white;
}

.main-container
{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.main-container p
{
    color: white;
    text-align: center;
    text-justify:
}