*{margin: 0;padding: 0;box-sizing: border-box;}body{background-color: #222;width: 100%;font-family: "Source Sans Pro", sans-serif;background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');}
header
{
    background: #795548;
}
img
{
    width: 100%;
}
section h2{
    font-family: Oswald;
    font-size: 2em;
    /*margin-top: 20px;*/
    text-align: center;
}
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #795548;
    color: white;
}

.brand-title
{
    font-size: 1.5rem;
    margin: .5rem;
    font-family: "Shadows into Light" ,sans-serif ;
}
.navbar-links ul
{
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li
{
    list-style: none;
}
.navbar-links li a
{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    font-weight: 2rem;
}
.navbar-links li:hover
{
    background: #3e2723;
    /*filter: blur(1px);*/
}
.toggle-button
{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar
{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.offer-card
{

    width: 250px;
    border-radius: 20px;
    height: 350px;
    background-color: transparent;
    border: 1px solid #f1f1f1;
    margin: 20px 30px;
    text-align: center;
    
    perspective: 1000px;
}
.flip-card-inner{
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    border-radius: 20px;
    transform-style: preserve-3d;
}
.offer-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.flip-card-front {
    background-color: #bbb;
    color: black;
}
.flip-card-back {
    background-color: #222;
    color: white;
    transform: rotateY(180deg);
  }
section
{
    width: 100%;
    color: black;
}
#onas
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
#open
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
#map
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.map-box
{
    margin: 0;
}
.box
{
    width: 45%;
    height: auto;
    margin: 20px;
    text-align: center;
    justify-content:space-between;
}
.box img{
    width: fit-content;
    margin: 0;
    padding: 0;
}
.flex
{
    align-items: center;
    display: flex;
}
.space-around{
    justify-content: space-around;
}
#strzyzenie .flip-card-back, #strzyzenie .flip-card-front
{
    background-image: url('https://images.unsplash.com/photo-1598887142728-f80b6e64821b?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYyMDIxNTgzMw&ixlib=rb-1.2.1&q=85');
    background-repeat: no-repeat;
    background-size: cover;
}
#golenie .flip-card-back, #golenie .flip-card-front{
    background-image: url('https://images.unsplash.com/photo-1589311450401-f91463638a55?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYyMDIxNTg4NA&ixlib=rb-1.2.1&q=85');
    background-repeat: no-repeat;
    background-size: cover;
}
#komplet .flip-card-back, #komplet .flip-card-front{
    background-image: url('https://images.unsplash.com/photo-1593702269525-4c5f8d34c8f8?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYyMDIxNjAwOA&ixlib=rb-1.2.1&q=85');
    background-repeat: no-repeat;
    background-size: cover;
}
#siwizna .flip-card-back, #siwizna .flip-card-front{
    background-image: url('https://images.unsplash.com/photo-1572457143356-30d0a20f49f6?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYyMDIxNjA3MQ&ixlib=rb-1.2.1&q=85');
    background-repeat: no-repeat;
    background-size: cover;
}
.clear
{
    clear: both;
}

.img-container
{
    background-image: url('https://images.unsplash.com/photo-1508358829795-0be2de8be018?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxODMwODk0Mg&ixlib=rb-1.2.1&q=85');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 300px;
}
.inner-container
{
    text-align: center;
    width: 100%;
    color: white;
    height: auto;
}
.inner-container h1
{
    font-size: 7em;
    font-family: "Shadows into Light" ,sans-serif ;
}
.inner-container h2{
    margin-top: -17px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.7em;
    text-align: center;
    font-weight: 400;
}
.inner-container a{
    margin-top: 20px;
    font-size: 1.3em;
    font-family: "Source Sans Pro", sans-serif;
}
.btn{
    display: inline-block;
    width: 200px;
    font-weight: bold;
    padding: 10px;
    color: #fff;
    border: 4px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition:background-color 0.2s ease-out, color 0.2s ease ease-out;
}
.btn:hover, .btn:active
{
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
.pretitle{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Bitter', sans-serif;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 3px;
    font-style: italic;
    color: #000000;
    text-align: center;
}
.pretitle::before
{
    content: "";
    display: inline-block;
    width: 20px;
    height: 1px;
    border-bottom: 1px solid #000000;
    margin: 0 14px 4px;
}
.pretitle::after
{
    content: "";
    display: inline-block;
    width: 20px;
    height: 1px;
    border-bottom: 1px solid #000000;
    margin: 0 14px 4px;
}
.slider
{
    overflow: hidden;
}
.slider figure
{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
.slider figure img{
    width: 20%;
    height: 10%;
    float: left;
}
@keyframes slider{
    0%{
        left: 0;
    }
    20%
    {
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }

}
section.black
{
    background-color: #111;
    color: #fff;
}
.black .pretitle{
    color: white;
}
.black .pretitle::before, .black .pretitle::after
{
    content: "";
    display: inline-block;
    width: 20px;
    height: 1px;
    border-bottom: 1px solid #fff;
    margin: 0 14px 4px;
}

section.white
{
    background-color: #fff;
    color: black;
}
article p
{
    color: #b59472 !important;
    font-size: 16px;
    letter-spacing: 3px;
    text-align: center;
    line-height: 25px;
    font-family: 'Merriweather', sans-serif;
}
footer
{
    background-color: #111;
    height: auto;
    width: 100%;
    font-family: "Source Sans Pro", sans-serif;
    padding-top: 40px;
    color: #fff;
}
.footer-content
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform:capitalize;
    line-height: 3rem;
}
.footer-text p{
    max-width: 500px;
    margin: 10px 20px;
    line-height: 28px;
    font-size: 14px;
    padding: 5px 10px;
}
.footer-text
{   
    display: flex;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a,.fotter-bottom a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i,.fotter-bottom a:hover
{
    color: red;
    filter: blur(1px);
}
.fotter-bottom
{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.fotter-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.fotter-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
/* ------Under 610px wide---------  */
@media (max-width: 610px){
    .columns {
        display: none;
      }
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li{
        text-align: center;
    }
    .navbar-links li a{
        padding: .5rem 1rem;
    }
    .navbar-links.active{
        display: flex;
    }
    .box{
        width: 90%;
    }
    #map
    {
        width: 300px;
    }
    h2 {
        font-size: 52px;
        line-height: 42px;
    }
    .footer-text p{
        font-size: 13px;
        padding: 0;
        margin: 0;
        line-height: normal;
        padding-top: 10px;
    }
}
/* ------Under 920px wide---------  */
@media only screen and (max-width:920px) {
    .img-container
    {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    #map
    {
        width: 300px;
    }
}
/* ------Under 540px wide---------  */
@media only screen and (max-width:540px) {
    .img-container
    {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .inner-container h1{
        font-size: 4em;
    }
    .inner-container h2{
        font-size: 1.3em;
        margin-top: 20px;
    }
    #map
    {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        border-width: 0;
    }
    .box{
        width: 100%;
        margin: 0;
        margin-top: 20px;
    }
    .offer-card{
        width: 100%;
        margin: 5px 10px;
    }
    #cennik .flex{
        flex-direction: column;
    }
    .box img{
        width: fit-content;
    }
}