*{
    padding: 0;
    margin: 0;
}
body
{
    margin: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}
.container
{
    width: 80%;
    margin: 0 auto;
}
header
{
    background: #9D7858;
}
header::after
{
    content: '';
    display: table;
    clear: both;
}
.logo
{
    float: left;
    padding: 10px 0;;
}

nav
{
    float: right;
}

nav ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav li
{
    display: inline-block;
    margin-left: 70px;
    padding: 25px;
}

nav a
{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    padding: 20px;
}

nav ul li a:hover
{
    color: black;
    border-top: 4px solid brown;
    font-weight: 700;
    padding-top: 22px;

}
.container
{
    max-width: 90%;
}

.content
{
    background-color: white;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;

}
.slider
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
footer
{
    background-color: black;
    color: white;
}
.foot
{
    padding: 20px;
    text-align: center;
}